.container {
  display: flex;
  justify-content: center;
  padding: 10px;

  .filter-list {
    display: flex;
    gap: 10px;

    mat-chip-option {
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      padding: 10px;

      &:hover {
        background-color: var(--primary-color);
        color: white;
      }
    }

    .high-priority {
      color: red;
    }

    .not-complete {
      color: orange;
    }

    .due-today {
      color: green;
    }
  }
}
